<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>City Gallery</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    
    <h1 style="text-align: center; color: #604CC3; font-size: 3em;">Explore My Favorite Cities</h1>
    
    <div class="city-grid">
        <div class="city-card">
            <img src="vienna.jpg" alt="Wien" />
            <h2>Wien</h2>
            <p>A beautiful city known for its historic architecture and vibrant cultural scene. <a href ="https://www.wien.gv.at/english/">More..</a></p>
        </div>
        <div class="city-card">
            <img src="town.jpg" alt="Bratislava" />
            <h2>Bratislava</h2>
            <p>The charming capital of Slovakia, nestled along the Danube River.  <a href="https://www.visitbratislava.com/it/">  More..</a></p>
        </div>
        <div class="city-card">
            <img src="london.jpg" alt="London" />
            <h2>London</h2>
            <p>The bustling capital of the UK, famous for its history, landmarks, and diversity. <a href="https://www.visitlondon.com/"> More..</a></p>
        </div>
        <div class="city-card">
            <img src="rome.jpeg" alt="Rome" />
            <h2 >Rome</h2>
            <p>The Eternal City, rich in history and renowned for its ancient architecture. <a href="https://www.rome.net">More...</a></p>
        </div>
        <div class="city-card">
            <img src="brussels.jpg" alt="Brussels" />
            <h2>Brussels</h2>
            <p>The capital of Belgium, known for its beautiful squares and delicious chocolates. <a href="https://be.brussels/en">More...</a></p>
        </div>
        <div class="city-card">
            <img src="zurich.jpeg" alt="Zurich" />
            <h2>Zurich</h2>
            <p>A global financial hub, Switzerland's largest city is a blend of culture and nature. <a href ="https://www.zuerich.com/en">More...</a></p>
        </div>
        
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>