<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body >
    <%- include("partials/header.ejs") %>
    <div class="listItems" >
    <h1 style="color:#604CC3; text-align: center;font: 3em sans-serif; ">My favorite cities</h1>
    <ul style="color:#FF7F3E; text-align: center; font: 2rem sans-serif; list-style: none; text-shadow: 2px 2px 4px #000000;" class="cities">
        <li>Wien</li>
        <li>Bratislava</li>
        <li>London</li>
        <a href="https://www.britannica.com/place/Rome"><li>Rome</li> </a>
        <li>Brussel</li>
        <li>Zurich</li>
        <li>Novi Sad</li>
        <li>Budapest</li>
        <a href="https://sr.wikipedia.org/sr-el/%D0%9A%D1%99%D0%B0%D1%98%D0%B8%D1%9B%D0%B5%D0%B2%D0%BE"><li>Kljajicevo</li></a>
        <li>St Tropez</li>
        <li>Opatija</li>
        <li>Zeneva</li>
        <li>Slankamen</li>
    </ul>
    </div>
    <div>
        
    </div>
    
</body>
<%- include("partials/footer.ejs") %>
</html>
