<!DOCTYPE html>

<html lang="en" min-height="100vh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Blog</title>
   
</head>
<body >   
  <%- include("partials/header.ejs") %>
  <div class="home-container"> 
    <div class="portrait-container">
      <img class="portrait" src="images/girl.jpeg">
    </div>

    <div class="textual-container">
      <h2>Adriatic coast that's my universe...</h2>
      <p class="description">The Adriatic Coast is a sun-seeker's paradise, renowned for its stunning beaches, crystal-clear waters, and charming coastal towns. From the vibrant city of Dubrovnik with its ancient walls to the idyllic islands of Hvar and Vis, visitors can bask in the warm Mediterranean sun while enjoying breathtaking views.

        Along the coast, sunbathers can relax on pebbled shoreline or sandy beaches, indulge in local seafood cuisine at seaside restaurants, and explore picturesque villages that reflect a rich cultural heritage. Watersports such as sailing, snorkeling, and jet skiing are readily available, offering thrilling adventures alongside tranquil moments of sunbathing.
        
        As the sun sets, the Adriatic transforms into a magical playground with vibrant nightlife, from beach bars to bustling markets. Whether seeking relaxation or adventure, the Adriatic Coast is a delightful destination for sun seekers.</p>
      <p class="description">Jadran (Adria) got its name from the ancient one of the same name, which was located on the Apennine coast.  
          
          The name has existed since ancient times, and in Latin it was Mare Hadriaticum, and it is believed that the name probably comes from the city of Adria or Hadria, which was also the name for the northern part of the bay.          
          The Adriatic Sea is a mostly closed sea connected to the Ionian Sea and via it to the Mediterranean Sea. The border of the Adriatic and Ionian Seas is the 75 km wide Otranto. Quite shallow, North of Pula its depth does not exceed 50 m, North of Zadar 100 m. In the southern part of the Adriatic Sea, there is a depression in which the depths drop sharply, the greatest depth being 1233 m.
          
          The Adriatic is a relatively warm sea with an average summer temperature of 11 degrees, and the surface sea temperature in winter is 7 degrees.</p>
    </div>     
      
  </div>
          
</body>
<%- include("partials/footer.ejs") %> 

</html>
