<!DOCTYPE html>

<html lang="en" min-height="100vh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Blog</title>
   
</head>
<body >   
  <%- include("partials/header.ejs") %>
  <div class="grid-container"> 
    <div class="portrait-container" style="width:40%">
      <img class="portrait" src="images/girl.jpeg">
    </div>

    <div class="textual-container" style="width:80%">
      <h2>Welcome to my universe...</h2>
      <p class="description">The Adriatic Coast is a sun-seeker's paradise, renowned for its stunning beaches, crystal-clear waters, and charming coastal towns. From the vibrant city of Dubrovnik with its ancient walls to the idyllic islands of Hvar and Vis, visitors can bask in the warm Mediterranean sun while enjoying breathtaking views.

        Along the coast, sunbathers can relax on pebbled shoreline or sandy beaches, indulge in local seafood cuisine at seaside restaurants, and explore picturesque villages that reflect a rich cultural heritage. Watersports such as sailing, snorkeling, and jet skiing are readily available, offering thrilling adventures alongside tranquil moments of sunbathing.
        
        As the sun sets, the Adriatic transforms into a magical playground with vibrant nightlife, from beach bars to bustling markets. Whether seeking relaxation or adventure, the Adriatic Coast is a delightful destination for sun seekers."</p>
    </div>     
      
  </div>
          
</body>
<%- include("partials/footer.ejs") %> 

</html>
